/* App Styles */
h1 {
  font-family: 'Nerko One', cursive;
  font-size: 3em;
  margin: 0;
  margin-top:0.5em;
  text-shadow: 2px 2px 2px rgb(191, 101, 233);
  
}

h2 {
  font-family: 'Nerko One', cursive;
  font-size: 1.8em;
  margin: 0;
  color:rgb(191, 101, 233);
}

h3 {
  font-family: 'Nerko One', cursive;
  font-size: 1.2em;
  margin: 0;
  color:rgb(3, 3, 3);
}

/* Header Styles */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(rgb(228, 187, 247), rgb(243, 226, 235), rgb(228, 187, 247));
  box-shadow: 2px 2px 5px rgb(228, 187, 247);
}

header img {
  max-height: 10em;
}

/* RatList styles */

ul {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: linear-gradient(rgb(228, 187, 247), rgb(243, 226, 235), rgb(228, 187, 247));
  border-radius: 1em;
}

/* Rat styles */

li {
  margin: 1em;
  padding: 1em;
  flex-basis: 25%;
  min-width: 15em;
  border-style: dotted;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: 
  "name icon"
  "age icon"
  "color color"
  "eyes eyes"
  "mark mark"
  "body body"
  "coat coat"
  ;
}

.ratIcon {
  max-width: 6em;
  max-height: 6em;
  grid-area: icon;
}

li h2 {
  grid-area: name;
}

li h3 {
  grid-area: age;
}
.color {
  margin-top: 1em;
  grid-area: color;
}
.eyes {
  grid-area: eyes;
}

.mark {
  grid-area: mark;
}

.body {
  grid-area: body;
}

.coat {
  grid-area: coat;
}

li p {
  margin: 0.2em;
}
 


/* RatSort styles*/

select {
  background-color:rgb(228, 187, 247);
  padding: 0.5em;
  font-size:1em;
  font-weight: bold;
  border-radius: 0.5em;
  margin-top: 1em;;
}

#sort {
  display: flex;
  justify-content: center;
}