/* App Styles */
h1 {
  font-family: 'Nerko One', cursive;
  font-size: 3em;
  margin: 0;
  margin-top:0.5em;
  z-index: 1;
  text-shadow: 2px 2px 2px rgb(191, 101, 233);
  
}

h2 {
  font-family: 'Nerko One', cursive;
  font-size: 1.8em;
  margin: 0;
  color:rgb(191, 101, 233);
}

/* Header Styles */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(rgb(228, 187, 247), rgb(243, 226, 235), rgb(228, 187, 247));
  box-shadow: 2px 2px 5px rgb(228, 187, 247);
}

header img {
  max-height: 10em;
}